{% extends 'base.html' %}

{% block body %}



<header>

<h1>Bag Inventory Manager.              Author ~ Azim Mustufa Baldiwala</h1>
    <div class="main">
        <ul>
            <li class="active"><a href="#">Home</a></li>
             <li><a href="change_bag_inventory">Change Inventory</a></li>
            <li><a href="add_new_bag">Add new bag</a></li>
            <li><a href="view_bag_data">View bag data</a></li>
            <li><a href="view_report">View report</a></li>
            <li><a href="show_warnings">Show warnings</a></li>
            <li><a href="mail_report">Mail report</a></li>
            <li><a href="delete_record">Delete record</a></li>
        </ul>
    </div>
</header>

{% endblock%}